.App {
  text-align: center;
}

.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: clamp(50px, 20vw, 200px);
  border: solid blue;
}

.cardContainer {
  display: flex;
  gap: 2px;
  padding: 2vw;
  border: solid red;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 33%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}